include mixins/alert
include mixins/box
include mixins/breadcrumb
include mixins/button
include mixins/checkbox
include mixins/dismiss
include mixins/dropdown
include mixins/file
include mixins/form
include mixins/form_group
include mixins/icon
include mixins/input
include mixins/menu
include mixins/modal
include mixins/pagination
include mixins/select
include mixins/table
include mixins/tree
