include tree

mixin menu(params)
  - params = params || {}
  - params.menu_cls = params.cls || 'menu'
  - params.cls = params.tree_cls || ''

  if params.items && params.items.length
    div(class=params.menu_cls)&attributes(params.attributes, attributes)
      .menu-scroller
        +tree(params)
